.wrapper {
    display: flex;
    justify-content: center;
}
.form {    
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.textField{
    min-height: 40px;
    margin-bottom: 20px;
    padding: 5px 15px;
}